{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я Олег.</h1>
    <p>
      Окончил юрфак пару лет назад и подался в модельный бизнес. 
      Там меня фотографировали в классных шмотках, но все это быстро 
      надоело и я решил изучать программирование. Кстати, вот моя ссылка на 
      <a href="https://github.com/Filengun" > GitHub </a>, заходи, 
      не бойся. А, ну еще недавно я купил раздолбаный мотоцикл 
      и починил его. Радости были полные штаны :D Вот, сам посмотри.
    </p>
    <img src="{% static 'img/3716.jpg' %}" width="30%" height="30%">
    <img src="{% static 'img/ph.jpg' %}" width="30%" height="30%">
  </div>
{% endblock %}